#myH1{
    font-size: 5rem;
}
#myBtn{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.enabled{
    background-color: blue;
    color: aliceblue;
}
.hover{
    box-shadow: 0 0 10px black;
    font-weight: bold;
}
.disabled{
    background-color: red;
    color: blueviolet;
}